.sidebar-container {
    height: 100vh; 
    width: 220px;  
    background-color: white; 
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sidebar-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
  }
  
  .sidebar-container li {
    width: 100%;
  }
  
  .sidebar-container li a {
    text-decoration: none;
    color: #333;
    font-size: 1.1rem;
    padding: 0px 15px;
    padding-left: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .sidebar-container li a span {
    margin-right: 15px;
  }
  .sidebar-container li a:hover {
    background-color: #ffedd9;
  }
  .sidebar-container li a.selected {
    background-color: #FFCD99;
    color: #ff9a34;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  h1 {
    font-size: 1.5rem;
    margin-bottom: 30px;
  }
  