* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgba(206, 197, 197, 0.027);
	overflow-x: hidden;
}
/*  ////////////  home page /////// */
.home {
	display: flex;
	flex-direction: column;
}
.navbar {
	display: flex;
	justify-content: space-between;
	padding: 0 30px 0 0;
	margin-top: 30px;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 50px;
	margin-top: -40px;
}
.logo img {
	width: 45px;
	height: 45px;
}
.logo h1 {
	font-family: "Courier New", Courier, monospace;
	font-size: 28px;
	padding-left: 10px;
	color: #af5901;
}
.logo h1 span {
	font-size: 73px;
}
.menu {
	list-style: none;
	margin-top: -20px;
	display: flex;
}
.menu li {
	margin: 0 75px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	padding: 25px 0px;
	padding-top: 20px;
}
.menu li a {
	color: #3c4142;
	text-decoration: none;
	text-align: center;
	font-size: 22px;
	position: relative;
}

.menu li a.active {
	color: #ff8100;
	font-weight: 700;
}
.register a {
	padding: 15px 35px;
	text-decoration: none;
	color: white;
	font-size: 25px;
	font-weight: 600;
	background-color: #ff890f;
	border-radius: 6px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.register a:hover {
	transition: all 0.4s;
	background-color: #ff870fde;
}

/* /////////// home oage //////////////// */
.home-container-one {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: linear-gradient(
		to bottom,
		transparent,
		#ffffff 17%,
		#fed1a3 50%,
		#ffffff 90%,
		transparent
	);
	overflow: hidden;
}
.left-side {
	flex: 1;
	padding: 20px;
	margin-left: 8em;
	display: flex;
	flex-direction: column;
	align-items: start;
}
.left-side h1 {
	font-size: 130px;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: linear-gradient(to right, #ff8507, #faba5a);
	-webkit-background-clip: text;
	color: transparent;
}
.left-side p {
	font-size: 22px;
	width: 35em;
	margin-top: 2em;
	line-height: 32px;
	text-align: start;
	font-family: "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.search-bar {
	display: flex;
	position: relative;
	width: 70%;
	margin-top: 2em;
}
.home-container-one .search-results {
	background-color: #fff;
	margin-top: 10px;
	margin-left: 40px;
	padding-top: 12px;
	height: 6em;
	width: 30em;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	z-index: 3;
}
.home-container-one .search-bar input::placeholder {
	font-size: 20px;
}
.home-container-one .search-item {
	height: 40px;
	padding-top: 5px;
	padding-left: 10px;
	font-size: 21px;
	font-weight: 100;
	padding-bottom: 7px;
	width: 100%;
}
.home-container-one .search-results::-webkit-scrollbar {
	width: 8px;
}

.home-container-one .search-results::-webkit-scrollbar-thumb {
	background-color: #ccc;
	border-radius: 4px;
}

.home-container-one .search-results::-webkit-scrollbar-track {
	background-color: #f1f1f1;
}

.input-field {
	flex: 1;
	padding: 20px 25px;
	border: none;
	border-radius: 50px;
	outline: none;
	font-size: 30px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.search-icon {
	background-color: #ff8507;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-icon {
	background-color: #ff8507;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}
.right-side img {
	height: 45em;
	width: 35em;
}
.home-container-two {
	display: flex;
	flex-direction: column;
	align-items: start;
}
.home-container-two h1,
.home-container-three h1,
.home-container-four h1,
.home-container-five h1 {
	font-size: 2.5em;
	margin: 0;
	margin-left: 1.5em;
	color: grey;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.card {
	display: flex;
	justify-content: space-between;
	color: white;
	width: 80%;
	height: 25em;
	border-radius: 40px;
	margin: 30px auto;
	margin-bottom: 70px;
}

.card-content {
	padding: 50px;
	flex: 1;
	display: flex;
	align-items: start;
	text-align: start;
	flex-direction: column;
}
.card-content h2 {
	font-size: 40px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	margin: 0;
}
.card-content p {
	font-size: 18px;
	width: 60%;
	padding: 20px 0;
	text-align: start;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.card-image {
	border-radius: 40px;
	overflow: hidden;
}
.card-image img {
	margin-top: -20em;
	margin-right: -15em;
	width: 51em;
	height: 51em;
}

.order-button {
	background-color: #ff8507;
	color: #fff;
	border: none;
	padding: 15px 40px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 20px;
	font-weight: 700;
}
.carousel .control-dots {
	position: absolute;
	bottom: 10px;
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style: none;
}

.indicator {
	background-color: #ccc;
	border: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: 0 20px;
	cursor: pointer;
	transition: background-color 0.3s;
}

.indicator.active {
	background-color: #ff8507;
}
.home-container-three {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	background: linear-gradient(
		to bottom,
		transparent,
		#ffffff 10%,
		#fed1a3b4 50%,
		#ffffff 90%,
		transparent
	);
	margin-top: 10em;
	width: 100%;
}

.home-container-three .cards-two {
	display: flex;
	margin-left: 50px;
	margin-bottom: 30px;
	overflow-x: auto;
	width: calc(100% - 50px);
}

.home-container-three .cards-two::-webkit-scrollbar {
	width: 0;
}

.home-container-three .slide {
	display: flex;
	margin: 40px;
	width: 40em;
	height: 11em;
	border-radius: 20px;
	background-color: white;
	flex-shrink: 0;
}
.home-container-three .slide .one {
	display: flex;
	flex: 2;
	flex-direction: column;
	padding: 20px 30px;
}
.home-container-three .slide .one img {
	height: 20px;
	width: 20px;
}
.home-container-three .slide .two {
	display: flex;
	flex: 2;
	align-items: center;
	margin: 35px;
	border-radius: 10px;
	padding: 10px;
	background-color: #f2f9f2;
}
.home-container-four {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	background: linear-gradient(
		to bottom,
		transparent,
		#ffffff 0%,
		#ffe7d0b4 50%,
		#ffffff 105%,
		transparent
	);
	margin-top: 3em;
	width: 100%;
}
.home-container-four .grid-container {
	margin: 10px 8em;
	display: flex;
	flex-wrap: wrap;
	gap: 0 30px;
}
.home-container-four .card,
.home-container-five .card,
.ordered-page .card {
	flex: 1 1 calc(33.333% - 20px);
	box-sizing: border-box;
	height: auto;
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #ffffff;
	border-radius: 30px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	padding: 0px 20px;
}

.home-container-four .pizza-image,
.home-container-five .pizza-image,
.ordered-page .pizza-image {
	width: 16em;
	height: auto;
}

.home-container-four .card-content,
.home-container-five .card-content,
.ordered-page .card-content {
	padding: 0px;
	color: black;
}

.home-container-four .price-order,
.home-container-five .price-order {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.home-container-four .price,
.home-container-five .price {
	display: flex;
	font-size: 14px;
	color: grey;
	font-weight: bold;
}

.home-container-four .order-button,
.home-container-five .order-button {
	background-color: #ff8507;
	color: white;
	border: none;
	font-size: 26px;
	padding: 10px 20px;
	border-radius: 5px;
	cursor: pointer;
}

.home-container-four .footer,
.home-container-five .footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
	width: 100%;
	padding: 15px 10px;
	border-top: 2px solid rgb(182, 182, 182);
}

.home-container-four .person-image,
.home-container-five .person-image {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 10px;
}
.home-container-five {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	background: linear-gradient(
		to bottom,
		transparent,
		#ffffff 0%,
		#ffe7d0b4 50%,
		#ffffff 105%,
		transparent
	);
	margin-top: 10em;
	width: 100%;
}
.home-container-five .grid-container,
.ordered-page .grid-container {
	display: flex;
	margin-left: 6em;
	margin-bottom: 30px;
	overflow-x: auto;
	gap: 30px;
	scrollbar-width: none;
}
.home-container-five .grid-container::-webkit-scrollbar,
.ordered-page .grid-container::-webkit-scrollbar {
	display: none;
}
.home-container-five .card,
.ordered-page .card {
	flex: 0 0 auto;
	width: 7%;
}

footer {
	background-color: #d1b894;
	color: #fff;
	padding-top: 40px;
}
.footer-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #d1b894;
	padding: 20px;
}
.footer-logo {
	display: flex;
	align-items: center;
}

.logo-image {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}
.footer-nav a {
	margin: 0 45px;
	color: #000;
	text-decoration: none;
	font-size: 28px;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.feedback {
	display: flex;
	padding-right: 10em;
	flex-direction: column;
	align-items: center;
}
.feedback-container {
	display: flex;
	align-items: center;
	margin-top: 20px;
}
.feedback-input {
	border-radius: 10px;
	border: 1px solid #ccc;
	padding: 20px;
	font-size: 20px;
	flex: 1;
}

.feedback-button {
	background-color: #f5a623;
	border: none;
	border-radius: 50%;
	padding: 10px;
	cursor: pointer;
	color: #fff;
	margin-left: -50px;
}

.footer-bottom {
	display: flex;
	background-color: #000;
	justify-content: space-between;
	align-items: center;
}

.footer-bottom a {
	color: #fff;
	text-decoration: none;
	margin-left: 20px;
}
.social-icons {
	display: flex;
	padding: 10px 20px;
}
.social-icons a {
	color: #fff;
	font-size: 24px;
	margin-left: 25px;
	background-color: #333;
	padding: 5px 10px;
	padding-top: 10spx;
	border-radius: 50%;
	text-decoration: none;
}

.social-icons i {
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	background-color: #333;
}

/* /repsonsive////////////// */
/* General Mobile Adjustments */

@media (max-width: 480px) {
	.logo img {
		width: 30px;
		height: 30px;
	}
	.navbar {
		padding: 0;
		margin: 0;
		display: flex;
		align-items: center;
	}
	.logo {
		margin: 0;
	}
	.logo h1 {
		font-size: 18px;
		margin: 0;
	}
	.menu {
		margin-left: -20px;
		margin-top: 8px;
	}
	.menu li {
		margin: 0;
		font-size: 4px;
	}
	.menu li a {
		font-size: 10px;
		padding: 8px;
	}
	.register a {
		font-size: 9px;
		padding: 6px 10px;
	}
	.left-side {
		margin-left: 0;
		margin-left: 1em;
		padding: 10px;
		text-align: center;
	}
	.left-side h1 {
		font-size: 40px;
	}
	.left-side p {
		font-size: 10px;
		width: 50%;
		line-height: 14px;
		margin: 0;
		text-align: start;
	}
	.search-bar {
		width: 90%;
		margin: 20px auto;
	}
	.home-container-one .search-results {
		width: 100%;
		margin-top: -1em;
	}
	.right-side img {
		height: 2em;
		width: 100%;
	}
	.card {
		flex-direction: column;
		height: auto;
		padding: 20px;
		margin: 20px 0;
	}
	.card h1 {
		font-size: 12px;
	}
	.card-image img {
		width: 100%;
		margin: 0;
	}

	.card-content {
		text-align: center;
	}

	.home-container-three,
	.home-container-four,
	.home-container-five {
		align-items: start;
		padding-left: 10px;
		margin: 0;
	}
	.home-container-two h1,
	.home-container-three h1,
	.home-container-four h1,
	.home-container-five h1 {
		font-size: 22px;
		margin: 0;
	}

	.home-container-four .grid-container {
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 10px;
	}
	.home-container-five .grid-container {
		width: 100%;
		margin: 10px;
		margin-bottom: 20px;
	}
	.home-container-five .grid-container .card {
		width: 80%;
	}
	.home-container-four .pizza-image,
	.home-container-five .pizza-image,
	.ordered-page .pizza-image {
		width: 11em;
		height: auto;
	}
	.feedback {
		padding: 0;
		margin-top: 10px;
		align-items: center;
	}

	.footer {
		padding: 0;
	}
	.footer-nav {
		display: flex;
		flex-direction: column;
	}
	.footer-nav a {
		margin: 5px;
		font-size: 14px;
	}

	.social-icons a {
		font-size: 18px;
	}

	.feedback-input {
		width: 90%;
		margin-top: -1em;
		font-size: 12px;
	}
	.footer-bottom {
		flex-direction: column;
		padding: 20px;
		font-size: 12px;
	}
	.footer-bottom .copyrgiht {
		display: flex;
		flex-direction: column;
	}
	.home-container-two {
		display: flex;
		flex-direction: column;
		align-items: start;
		width: 100%;
		padding: 10px;
	}

	.home-container-two h1 {
		font-size: 1.5em;
		margin-left: 0;
	}

	.home-container-two .card {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		color: white;
		width: 75%;
		height: auto;
		border-radius: 15px;
		margin: 10px auto;
		margin-left: 10px;
		padding: 2px;
	}

	.home-container-two .card-content {
		padding: 10px 0 10px 10px;
	}

	.home-container-two .card-content h2 {
		font-size: 12px;
	}

	.home-container-two .card-content p {
		font-size: 10px;
		width: 90%;
		padding: 4px 0;
	}

	.home-container-two .order-button {
		padding: 8px 25px;
		font-size: 10px;
	}

	.home-container-two .card-image img {
		width: 10em;
		height: 13em;
		margin-top: -5em;
		margin-right: -5em;
	}
	.home-container-two .indicator {
		width: 12px;
		height: 12px;
		margin: 0 10px;
	}
	.home-container-one {
		flex-direction: row;
		align-items: start;
		overflow: hidden;
	}

	.left-side {
		flex: 1;
		padding: 15px;
		margin: 0;
		display: flex;
		flex-direction: column;
		align-items: start;
	}

	.left-side h1 {
		font-size: 30px;
		margin: 0;
	}
	.left-side p {
		font-size: 12px;
		width: 90%;
		line-height: 14px;
	}
	.search-bar {
		width: 80%;
		margin-left: 0;
		margin-top: 1.5em;
	}
	.input-field {
		padding: 12px 15px;
		font-size: 14px;
	}

	.search-icon {
		padding: 2px;
		margin-right: -2em;
	}
	.home-container-one .search-results {
		margin-top: -1em;
		padding: 0;
	}

	.home-container-one .search-item {
		font-size: 16px;
		padding: 5px 10px;
	}
	.right-side img {
		width: 100%;
		height: 16em;
		margin-top: -1.5em;
	}
	.home-container-three .cards-two {
		margin: 0;
		width: 100%;
	}
	.home-container-three .cards-two .slide {
		margin-left: 10px;
	}
	.orderhistory {
		margin-top: -7em;
	}
	.orderhistory .home-container-four .grid-container .card {
		width: 90%;
	}
	.orderhistory .home-container-four .grid-container p {
		font-size: 12px;
	}
}

/* order history page */
.orderhistory .home-container-four {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	background: linear-gradient(
		to bottom,
		transparent,
		#ffffff 0%,
		#ffe7d0b4 50%,
		#ffffff 145%,
		transparent
	);
	margin-top: 10em;
	width: 100%;
}
/* sign up page */

.sign {
	display: flex;
	height: 100vh;
}
.sign .left-side {
	flex: 1;
	background-color: #ff8507;
	display: flex;
	margin: 0;
	justify-content: center;
	align-items: center;
}
.sign .left-side img {
	width: 22em;
	height: auto;
}
.sign .right-side {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 50px 0;
	margin-left: 10em;
	background-color: white;
}
.sign .right-side img {
	width: 5em;
	height: auto;
}
.sign .right-side form {
	width: 30em;
	padding: 30px;
}

.sign .right-side .input-container {
	position: relative;
	margin-top: 35px;
	margin-bottom: 30px;
}

.sign .right-side .input-container input {
	width: 100%;
	padding: 10px;
	font-size: 18px;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
	background: none;
}

.sign .right-side .input-container label {
	position: absolute;
	top: 50%;
	left: 10px;
	transform: translateY(-50%);
	font-size: 14px;
	color: #999;
	pointer-events: none;
	transition: all 0.3s ease;
}
.sign .right-side .input-container input:focus ~ label,
.sign .right-side .input-container input:not(:placeholder-shown) ~ label {
	top: -10px;
	left: 10px;
	font-size: 12px;
	color: #ff7200;
}
.sign .right-side input[type="checkbox"] {
	margin-right: 10px;
	margin-bottom: 15px;
}
.sign .right-side button {
	width: 100%;
	padding: 10px;
	background-color: #ff7200;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	text-transform: uppercase;
}
.sign .right-side button:hover {
	background-color: #ff8500;
}
.sign .right-side a {
	color: #ff7200;
	text-decoration: none;
}
.sign .right-side a:hover {
	text-decoration: underline;
}

.sign .right-side p {
	text-align: center;
	margin-top: 10px;
	font-size: 14px;
}
.sign .right-side .input-container input:focus {
	border-color: #ff7200;
}

/* ///personal order page //////// */
.personal-order {
	background-color: #fff9ee;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.personal-order .container {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 4em;
}
.personal-order .pizza-image {
	padding-right: 7em;
}
.personal-order h1 {
	font-size: 5em;
	margin-bottom: 10px;
	font-family: Geneva, Verdana, sans-serif;
}

.personal-order .ingredients {
	margin-bottom: 20px;
	display: flex;
}
.personal-order label {
	display: block;
	margin: 5px 0;
}
.personal-order .order-section {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.personal-order .order-section button {
	background-color: #fff;
	border: 0.07em solid #ff6b00;
	color: black;
	font-size: 50px;
	padding: 5px 25px;
	cursor: pointer;
	border-radius: 15px;
}
.personal-order .order-section h2 {
	display: flex;
	font-size: 40px;
	margin: 0;
	margin-left: 30px;
}
.personal-order button:hover {
	background-color: #ff8b32;
}

.personal-order .order-button {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 3em;
}

.personal-order .price {
	margin-left: 15px;
	font-weight: bold;
	color: green;
}

.personal-order .ordered-page {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: start;
	margin-top: 10em;
	width: 100%;
}
.main-pizza {
	overflow: hidden;
	position: relative;
	width: 30em;
	height: auto;
}

.main-pizza img {
	transition: transform 0.6s ease-in-out;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.roll-out img {
	animation: rollOut 0.6s forwards;
}

@keyframes rollOut {
	0% {
		transform: translateX(0) rotate(0);
	}
	100% {
		transform: translateX(-100%) rotate(-360deg);
	}
}

.roll-in img {
	animation: rollIn 0.6s forwards;
}

@keyframes rollIn {
	0% {
		transform: translateX(100%) rotate(360deg);
	}
	100% {
		transform: translateX(0) rotate(0);
	}
}

/* Overlay */
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.25);
	z-index: 10;
}

/* Modal Content */
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: white;
	padding: 40px;
	text-align: center;
	border-radius: 20px;
	z-index: 20;
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	background-color: white;
	text-align: center;
	border-radius: 20px;
}

.modal h2 {
	color: rgb(72, 250, 72);
	font-family: "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana,
		sans-serif;
	font-size: 40px;
	margin: 0;
	width: 20em;
}

/* //////dashboard///////////// */
.dashboard-container {
	display: flex;
	margin: 0;
}

.dashboard-container .content,
.add-menu .content {
	width: 100%;
	background-color: #f8f8f8;
}
.dashboard-container .content header,
.add-menu .content header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 50px;
	padding-bottom: 0;
	padding-right: 6em;
	background-color: white;
}

.dashboard-container .content .main-content,
.add-menu .content form {
	margin: 30px;
	width: calc(100% - 250px);
	border-radius: 7px;
	background-color: #fff;
	margin: 40px;
	padding: 80px;
}
.dashboard-container .csv-btn {
	border: none;
	color: #acacac;
	background-color: white;
	font-size: 16px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.dashboard-container .orders-table {
	width: 100%;
	border-collapse: collapse;
	border: 1px #a8a8a8 solid;
	border-top: none;
}

.dashboard-container .orders-table th,
.orders-table td {
	padding: 12px;
	text-align: left;
	border-bottom: 1px solid #ddd;
}

.dashboard-container .orders-table th {
	background-color: #f1f1f1;
	color: black;
}

.dashboard-container .orders-table td select {
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #f0f0f0;
}

.dashboard-container .orders-table tr:hover {
	background-color: #f2f2f2;
}

/* /////////////////// add menu  ////////// */
.add-menu {
	display: flex;
	margin: 0;
}
.add-menu .content form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.input-container {
	position: relative;
	margin-bottom: 1.5rem;
	width: 25em;
}

.input-container input {
	width: 100%;
	padding: 10px 10px 10px 5px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	outline: none;
	background: none;
}

.input-container input:focus {
	border-color: #ff9a34;
}

.input-container label {
	position: absolute;
	top: 10px;
	left: 5px;
	font-size: 16px;
	color: #a8a8a8;
	transition: all 0.2s ease;
	pointer-events: none;
	background: white;
	padding: 0 5px;
}

.input-container input:focus ~ label,
.input-container input:not(:placeholder-shown) ~ label {
	top: -10px;
	left: 5px;
	font-size: 12px;
	color: #ff9a34;
}

.input-container input:focus ~ label {
	color: #ff9a34;
}
.new-ingredient {
	display: flex;
	align-items: center;
}

.new-ingredient input {
	flex: 1;
	padding: 8px;
	margin: 20px 0;
	margin-right: 8px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.add-btn {
	background-color: #ff9a34;
	color: white;
	border: none;
	padding: 8px 12px;
	border-radius: 4px;
	cursor: pointer;
	display: flex;
	align-items: center;
}

.add-btn svg {
	margin-right: 4px;
}
.custom-file-upload {
	display: inline-block;
	padding: 20px 40px;
	cursor: pointer;
	background-color: #f1f1f1;
	border: 1px dashed #ccc;
	border-radius: 8px;
	text-align: center;
	box-sizing: border-box;
	width: 100%;
}

.custom-file-upload svg {
	margin-right: 8px;
}

input[type="file"] {
	display: none;
}

.submit-btn {
	background-color: #ff9a34;
	color: white;
	border: none;
	padding: 15px 90px;
	border-radius: 8px;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
}
/* ////////////// roles page ////////////*/

.status-container {
	display: flex;
	align-items: center;
	gap: 10px;
}

.status-container.active .toggle {
	background-color: #e0f7e9;
	padding: 10px 20px;
	border-radius: 20px;
}

.status-container.inactive .toggle {
	background-color: #fde8e8;
	padding: 10px 20px;
	border-radius: 20px;
}

.status-text {
	font-size: 14px;
	margin-left: 20px;
}

.icon {
	cursor: pointer;
}

.toggle-switch {
	position: relative;
	display: inline-block;
	width: 34px;
	height: 20px;
}

.toggle-switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	transition: 0.4s;
	border-radius: 20px;
}

.slider:before {
	position: absolute;
	content: "";
	height: 14px;
	width: 14px;
	left: 3px;
	bottom: 3px;
	background-color: white;
	transition: 0.4s;
	border-radius: 50%;
}

input:checked + .slider {
	background-color: #66f86d;
}

input:checked + .slider:before {
	transform: translateX(14px);
}
